%div{:class => ("d-flex flex-row" + ("-reverse" if message.user.id == current_user.id).to_s) }
	%div
		%div{:class => ("d-flex flex-row" + ("-reverse" if message.user.id == current_user.id).to_s) }
			%div.message
				%p= message.body
		%p.message-name= message.user.email
