
%div.container
  %div.row.justify-content-center
    %div.col-md-4.align-self-center
      %div.card.login-panel
        %div.card-body

          %h1 New task

          = render 'form'

      = link_to 'Back', tasks_path
