%div  
  %div.container.events-container
    %div.d-flex.justify-content-between.flex-row
      %h1.margin-bottom-none Your Events
      = link_to new_event_path do
        %i.material-icons.md-48 add
    %div.border-top.my-2
    %div.card-columns
      = render @events
    - if @events.length == 0
      %div.text-center
        %p.text-muted 
          You haven't created any events yet
          %br/
          Add some?
