
%div.container.event-container
  %div.row.justify-content-center
    %div.col-md-5
      = render @event

      %div.tasks-container
        %div.d-flex.justify-content-between.flex-row
          %h4.margin-bottom-none.align-middle{:style => "padding-top: 5px"} Tasks
          = link_to new_task_path(event_id: @event) do
            %i.material-icons.md-36.align-middle add
        %div.list-group
          = render @tasks 
          - if @tasks.length == 0
            %div.text-center
              %p.text-muted 
                There are no tasks for this event
                %br/
                Add some?
    %div.col-md-3


      %div.card
        %div.card-header
          %div.d-flex.justify-content-between.flex-row
            %h5.card-title.align-self-start
              Messages
            
        %div.card-body
          = render @messages
        %form{:id => "message_form"}
          %input.hidden{:value => @event.id, :name => "event_id"}
          %div.input-group
            %input.form-control{:id => "message_input", :placeholder => "Enter message", :name => "message"}
            %div.input-group-append
              %button.btn.btn-outline-secondary{:id => "submit_message", :name => "body"} Send
          

      
      