%p#notice= notice
%div.container
  %div.row.justify-content-center
    %div.col-5.align-self-center
      = render @event
      
      %h4 
        Tasks
        = link_to new_task_path(event_id: @event) do
          %span.glyphicon.glyphicon-plus.right
      %div.list-group
        = render @tasks       


