/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 h1,h2,h3,h4,h4,h6 {
   margin-bottom: 0px !important;
 }


.hidden {
  display: none;
}

#messages {
  max-height: 400px;
  overflow-y: scroll;
}

.message-name {
  font-size: 80%;
  color: #6c757d;
  margin-bottom: 0px;
}

.message {
  background: #eee;
  border-radius: 5000px;
  padding: 5px;
  
  display: inline-block;
  p {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}



.edit-profile-card {
  margin-top: 20px;
}


 .margin-bottom-none {
   margin-bottom: 0px;
   line-height: 1
 }
 
 .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.col-centered{
    float: none;
    margin: 0 auto;
}

.login-panel {
    margin-top: 100px;
}

.full-width {
  width: 100%;
}

.right {
  float: right;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }